body {
 font-family: sans-serif; /*permet de mieux voir les  ⃗ et les  ̇ */
}

.constantes {
  font-family:serif;
  font-style: italic;
}

.titre_resume {
  text-align: center;
}

.texte_resume {
  font-style: italic;
  font-family: serif;
}

.separation {
  text-align: center;
  font-size: 3em;
}

.retrait {
  padding: 0 0 0 4em;
  text-indent: -4em;
}

.auteur-fig {
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
}

.def-eq {
  list-style-type: none;
}

.equation {
  text-align: right;
}

.equation img {
  float: left;
  margin: 0 0 0 12em;
}

.cadre_gris {
  background-color: #DDDDDD;
  margin: 1em;
  padding: 0 3em;
  float: top;
  text-indent: 0;
}

.figure {
max-height: 20em;
max-width: 40em;
}

.attention {
  background-color: #FF0000;
}

q {
  quotes: none;
}
